<!DOCTYPE html>
<html>

<head>
    {(common/meta.html)}
    <script type="text/javascript">
        global_settings.c_name = "插件";
    </script>
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
    <div id="wrapper">
        {(common/left_nav.html)}
        <!-- 左侧导航 -->

        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row J_mainContent">

                <!-- content start -->
                <div class="row content-header">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h4 class="head_title">映射</h4>
                        </div>
                        <div class="pull-right">
                            {(common/title-op.html)}
                        </div>
                    </div>
                </div>

                {(common/data-view-part.html)} {(common/right-layout-part.html)}

                <!-- content end -->
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <div id="map-rule-capture">
        {(rules/capture.html)}
    </div>
    <div id="map-rule-filter">
        {(rules/filter.html)}
    </div>
    <div id="map-rule-rewrite">
        {(rules/rewrite.html)}
    </div>
    <div id="map-rule-redirect">
        {(rules/redirect.html)}
    </div>
    <div id="map-rule-divide">
        {(rules/divide.html)}
    </div>
    <div id="map-rule-alias">
        {(rules/alias.html)}
    </div>
    <div id="map-rule-tmpl_vars">
        {(rules/tmpl_vars.html)}
    </div>


    {(common/extraction-tmpl.html)} {(common/selector-item-tpl.html)} {(common/selector-add.html)}
    {(common/selector-edit.html)}
    {(common/common_js.html)}

    <!-- 通用js -->
    <script src="/static/js/rewrite.js"></script>
    <script src="/static/js/redirect.js"></script>
    <script src="/static/js/divide.js"></script>
    <script src="/static/js/alias.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/capture.js"></script>
    <script src="/static/js/tmpl_vars.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            APP.Common.resetNav("nav-map");
            APP.Map.init();
            $(".sortable-list").sortable().disableSelection();
        });
    </script>
</body>

</html>