<div id="filter-area">
    {@each r.handle.filter_vars as f, index}
    <div class="form-group pair-holder">
        <label class="col-sm-1 control-label">{@if index == 0}处理{@/if}</label>
        <div class="col-sm-2">
            <select class="form-control" name="rule-judge-filter-type">
                <option value="body" {@if f.key=="body" } selected {@/if}>Body </option> <option value="header" {@if
                    f.key=="header" } selected {@/if}>Header </option> </select> </div> <div class="col-sm-2">
                    <select class="form-control" name="rule-judge-filter-operator">
                        <option value="match" {@if f.operator=="match" } selected {@/if}>Match </option> <option value="not_match"
                            {@if f.operator=="not_match" } selected {@/if}>Not Match</option> <option value="=" {@if
                            f.operator=="=" } selected {@/if}>= </option> <option value="!=" {@if f.operator=="!=" }
                            selected {@/if}>!= </option> <option value=">" {@if f.operator==">" } selected {@/if}>&gt;
                            </option> <option value=">=" {@if f.operator==">=" } selected {@/if}>&ge; </option> <option
                            value="<" {@if f.operator=="<" } selected {@/if}>&lt; </option> <option value="<=" {@if
                            f.operator=="<=" } selected {@/if}>&le; </option> </select> </div> <div class="col-sm-2">
                            <input type="text" class="form-control" name="rule-judge-filter-match" placeholder="match"
                                value="${f.mValue}">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="rule-judge-filter-final" placeholder="final" value="${f.value}">
        </div>
        <div class="col-sm-1" style="margin-top:5px;">
            <span class="input-group-btn">
                <a class="btn btn-remove" style="padding:0 5px;">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="btn btn-add" style="padding:0 5px;">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
    </div>
    {@/each}
</div>